
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #93b1a6;
  color: #183d3d;
  line-height: 1.6;
}

.navbar {
  background-color: #043131;
  color: white;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar-brand img {
  height: 30px;
  margin-right: 30px;
}

.navbar-link {
  color: rgb(9, 34, 13);
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #000000bb;
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1rem;
  color: #2196f3;
  margin-bottom: 4px;
}

.product-category {
  font-size: 0.9rem;
  color: #666;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-input {
  margin-bottom: 16px;
}

.submit-button {
  background-color: #183d3d; 
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #467f6f; 
}
.NavBarButtons{
  display: flex;
  gap: 20px;
}